/*CSS Layout Styling for Vegetables.html*/

/*Navigation and Header Styling*/

body {
    
    /*a little bit of extra space*/
    width: 90%;
    min-width: 960px;
    margin: 0 auto;
    background-color: pink;
    
}


h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 200%;
}

main{ 
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      
}